#explorer .active {
    background-color: #275ac869;
}

#explorer .active:hover {
    background-color: #346be383;
}


#explorer ul li div {
    border-radius: 4px;
    padding: 3px 5px 3px 15px;
    margin: 1px;
}

#explorer ul li div:hover {
    background-color: #4040404b;
    cursor: default;
}