#explorer .active {
    background-color: #954e174d;
}

#explorer .active:hover {
    background-color: #512c1783;
}


#explorer ul li div {
    border-radius: 0px;
    padding: 2px 4px 2px 15px;
    margin: 0px;
}

#explorer ul li div:hover {
    background-color: #4040404b;
    cursor: default;
}