@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Fira Code";
    src: url('../font/FiraCode-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Cascadia";
    src: url("../font/Cascadia.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu-Regular.ttf");
}

html,
body,
#root{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #312f2f;
    font-family: 'Ubuntu';
}


.fira-code,
.fira-code>* {
    font-family: "Fira Code", sans-serif;
}

.cascadia,
.cascadia>* {
    font-family: "Cascadia";
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #252525;
    padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    margin: 2px;
    background: #434343;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

/* Track */
::-webkit-scrollbar-track:horizontal {
    background: #252525;
    padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
    border-radius: 5px;
    margin: 2px;
    background: #434343;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover:horizontal {
    background: #555555;
}

.cm-content {
    font-family: "Cascadia";
    font-size: 12px;
    /* height: 200px; */
    /** Comment this to enable font ligature */
    /* font-variant-ligatures: none; */
}

/* .cm-editor {
    height: auto;
    min-height: 200px;
    max-height: none;
} */