#snippets {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    min-width: 0%;
}

#snippets .snippet-list div.snippet-item {
    border-radius: 4px;
    margin: 1px;
    box-shadow: 1px 1px 3px #1e1d1d;
    border: 1px solid #292d2e;
    /* background-color: #242728; */
    background-color: #222729;
}

#snippets .snippet-list div.snippet-item:hover {
    background: #272b32;
    transition-duration: .5s;
}

#snippets .snippet-list div.snippet-item.active {
    /* background-color: #293b46; */
    background-color: #02344b;
    position: relative;
}

#snippets .snippet-list div.snippet-item.active.active:hover {
    background-color: #26363f;
    transition-duration: .5s;
}

/* #snippets .active::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid #393d45;
    border-right: 6px solid #2e313b;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: 0px;
    top: 18px;
}

#snippets .active:hover::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid #565c68;
    border-right: 6px solid #3e4045;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: -4px;
    top: 18px;
    transition-duration: .4s;
} */